body{
    background-color: rgb(209, 165, 250);
    color: rgb(48, 7, 71);
    font-size: 17px;
    font-weight: bold;
    align-items: center;
    width: fit-content;
    margin: auto;
    justify-content: center;
    display: flex;
    margin-top: 15%;
}

input{
    background-color: aliceblue;
    padding: 10px;
    font-size: 17px;
}

.info{
align-items: center;
}

.botao{
    margin: auto;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

button{
    color: white;
    background-color: #652583;
    font-size: large;    
   padding: 10px;
}

button:hover{
 background-color: #854aa0; 
}